* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #fffffe;
  --dark: #2b2c34;
  --button: #463788;
  --secondary: #d1d1e9;
  --tertiary: #e45858;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: var(--secondary, lightpink);
  color: var(--dark, black);
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0.75rem 0 0.75rem max(10vw, 20px);
  border-bottom: 4px double black;
}

footer {
  background-color: var(--secondary, lightgrey);
  color: var(--dark, black);
  text-align: center;
  padding: 0.25rem 0 0.25rem 0;
  font-style: italic;
  font-weight: 500;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25rem 0 0.25rem 0;
}

.items-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.cover-letter {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: min-content min-content auto;
  grid-template-areas: "name name" "job info" "education info";
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1), -2px -2px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
}

.personal-name {
  grid-area: name;
  background-color: var(--button, purple);
  color: var(--light, white);
  text-align: center;
  padding: 0.25rem 0 0.5rem 0;
  min-height: 5rem;
}

.personal-name > .name {
  font-size: 2rem;
  font-weight: 700;
}

.personal-name > .title {
  font-size: 1.5rem;
  font-style: italic;
}

.personal-info {
  grid-area: info;
  background-color: var(--secondary, rgba(255, 0, 255, 0.5));
  text-align: center;
  padding-top: 1rem;
  min-width: 0;
  word-wrap: break-word;
  word-break: break-all;
}

.history-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "dates main";
  align-items: center;
  padding-bottom: 0.5rem;
}

.dates {
  grid-area: dates;
  padding: 1rem;
}

.main-item {
  grid-area: main;
  text-align: center;
}

.job-history,
.education {
  background-color: var(--light, white);
  min-width: 0;
  word-wrap: break-word;
  word-break: break-all;
}

.job-history {
  grid-area: job;
}

.education {
  grid-area: education;
  min-height: 20rem;
}

.job-history-title,
.education-title {
  text-decoration: underline;
}

input,
button {
  min-width: 300px;
}

button {
  background-color: var(--button, purple);
  color: var(--light, white);
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.25rem 0 0.25rem 0;
  margin: 0.25rem 0 0.25rem 0;
  border: 4px solid black;
  border-radius: 2rem;
}

.delete-button {
  background-color: var(--tertiary, orange);
  color: var(--dark, black);
}

button:hover {
  cursor: pointer;
  filter: brightness(90%);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .job-history-title,
  .education-title {
    font-size: 1.25rem;
    padding: 0.5rem 0 0.5rem 2rem;
  }

  .job-history-elements,
  .education-elements {
    font-size: 1.25rem;
  }
}

@media (min-width: 1000px) {
  section {
    display: grid;
    grid-template-columns: 1fr 800px;
    grid-template-areas: "forms cv";
    justify-content: center;
  }

  .forms {
    grid-area: forms;
  }

  .cover-letter {
    grid-area: cv;
    margin: 0.75rem 3rem 0 0;
    height: min-content;
    position: sticky;
    top: 0;
  }
}
