* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #fffffe;
  --dark: #2b2c34;
  --button: #463788;
  --secondary: #d1d1e9;
  --tertiary: #e45858;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: var(--secondary, lightgrey);
  color: var(--dark, black);
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0.75rem 0 0.75rem max(10vw, 20px);
  border-bottom: 4px double black;
}

footer {
  background-color: var(--secondary, lightgrey);
  color: var(--dark, black);
  text-align: center;
  padding: 0.25rem 0 0.25rem 0;
  font-style: italic;
  font-weight: 500;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25rem 0 0.25rem 0;
}

.items-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.cover-letter {
  text-align: center;
}

input,
button {
  min-width: 300px;
}

button {
  background-color: var(--button, purple);
  color: var(--light, white);
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.25rem 0 0.25rem 0;
  margin: 0.25rem 0 0.25rem 0;
  border: 4px solid black;
  border-radius: 2rem;
}

.delete-button {
  background-color: var(--tertiary, orange);
  color: var(--dark, black);
}

button:hover {
  cursor: pointer;
  filter: brightness(90%);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}
